In [153]:
import pandas as pd
import glob

In [154]:
pipeline=pd.DataFrame()

CCS

In [155]:
ccs = pd.read_csv("stats/ccs_lima/ccs_pool1_benchmark.txt", sep="\t")
pipeline["ccs"]=ccs["s"]

Lima

In [156]:
lima = pd.read_csv("stats/ccs_lima/lima_pool1_benchmark.txt", sep="\t")
pipeline["lima"]=lima["s"]

Refine - Concat

In [157]:
rename = 0
pipeline["rename"]=0

In [158]:
refine = pd.DataFrame()
for file in glob.glob("stats/refine/*.txt"):
    f = pd.read_csv(file, sep="\t")
    refine = pd.concat([refine, f])
pipeline["refine"]=refine["s"].mean()

In [159]:
rg = pd.DataFrame()
for file in glob.glob("stats/combine/pool1*.txt"):
    f = pd.read_csv(file, sep="\t")
    rg = pd.concat([rg, f])
pipeline["read_group"]=rg["s"].mean()

In [160]:
con = pd.DataFrame()
for file in glob.glob("stats/combine/*concat*.txt"):
    f = pd.read_csv(file, sep="\t")
    con = pd.concat([con, f])
pipeline["concat"]=con["s"].mean()

Mapping

In [161]:
b2f=pd.DataFrame()
for file in glob.glob("stats/mapping/*bam2fastq*.txt"):
    f = pd.read_csv(file, sep="\t")
    b2f = pd.concat([b2f, f])
pipeline["bam2fq"]=b2f["s"].mean()

In [162]:
rmdups=pd.DataFrame()
for file in glob.glob("stats/mapping/*rmdups*.txt"):
    f = pd.read_csv(file, sep="\t")
    rmdups = pd.concat([rmdups, f])
pipeline["rm_dups"]=rmdups["s"].mean()

In [163]:
pbmm2 =pd.DataFrame()
for file in glob.glob("stats/mapping/*pbmm2*.txt"):
    f = pd.read_csv(file, sep="\t")
    pbmm2 = pd.concat([pbmm2, f])
pipeline["pbmm2"]=pbmm2["s"].mean()

In [164]:
minimap2 =pd.DataFrame()
for file in glob.glob("stats/mapping/*mapping_minimap*.txt"):
    f = pd.read_csv(file, sep="\t")
    minimap2 = pd.concat([minimap2, f])
pipeline["minimap2"]=minimap2["s"].mean()

In [165]:
index =pd.DataFrame()
for file in glob.glob("stats/mapping/*index*.txt"):
    f = pd.read_csv(file, sep="\t")
    index = pd.concat([index, f])
pipeline["minimap_index"]=index["s"].mean()

In [196]:
pipeline_time=pd.DataFrame(pd.to_datetime(pipeline.T[0], unit="s").dt.time)

In [197]:
pipeline_time

                             0
ccs            05:32:48.633800
lima           00:01:55.180400
rename                00:00:00
refine         00:01:10.372512
read_group     00:00:05.152675
concat         00:00:17.774324
bam2fq         00:00:22.763025
rm_dups        00:00:18.948587
pbmm2          00:00:15.980887
minimap2       00:06:12.909762
minimap_index  00:00:02.593637

In [167]:
summed=pd.DataFrame()
summed["ccs"]=pipeline["ccs"]
summed["lima"]=pipeline["lima"]
summed["refine"]=pipeline["refine"]
summed["concat_reads"]=pipeline[["read_group","concat"]].T[0].sum()
summed["prepare_mapping"]=pipeline[["bam2fq","rm_dups"]].T[0].sum()
summed["pbmm2"]=pipeline["pbmm2"]
summed["minimap2"]=pipeline[["minimap2","minimap_index"]].T[0].sum()

In [169]:
summed.T

                            0
ccs              19968.633800
lima               115.180400
refine              70.372512
concat_reads        22.927000
prepare_mapping     41.711613
pbmm2               15.980887
minimap2           375.503400

In [194]:
summed_time=pd.DataFrame(pd.to_datetime(summed.T[0], unit="s").dt.time)

In [195]:
summed_time

                               0
ccs              05:32:48.633800
lima             00:01:55.180400
refine           00:01:10.372512
concat_reads     00:00:22.927000
prepare_mapping  00:00:41.711612
pbmm2            00:00:15.980887
minimap2         00:06:15.503400

### Collapsing

In [239]:
coll=pd.DataFrame()

In [240]:
cpb=pd.DataFrame()
for file in glob.glob("stats/collapse/pb*.txt"):
    f = pd.read_csv(file, sep="\t")
    cpb = pd.concat([cpb, f])
coll["c_pb"]=[cpb["s"].mean()]

In [242]:
x=["tama_v2_at6923_benchmark.txt","tama_v2_at6929_benchmark.txt","tama_v2_at7143_benchmark.txt","tama_v2_at8285_benchmark.txt",
  "tama_v2_at9104_benchmark.txt","tama_v2_at9336_benchmark.txt","tama_v2_at9503_benchmark.txt","tama_v2_at9578_benchmark.txt"]
ct=pd.DataFrame()
for file in x:
    f = pd.read_csv(f"stats/collapse/{file}", sep="\t")
    ct = pd.concat([ct, f])
coll["c_t"]=[ct["s"].mean()]

In [243]:
b2g=pd.DataFrame()
for file in glob.glob("stats/collapse/*bed2gtf*.txt"):
    f = pd.read_csv(file, sep="\t")
    b2g = pd.concat([b2g, f])
coll["b2g"]=[b2g["s"].mean()]

In [244]:
g2g=pd.DataFrame()
for file in glob.glob("stats/collapse/*gtf2gff*.txt"):
    f = pd.read_csv(file, sep="\t")
    g2g = pd.concat([g2g, f])
coll["g2g"]=[g2g["s"].mean()]

In [245]:
fl=pd.DataFrame()
for file in glob.glob("stats/collapse/*file_list*.txt"):
    f = pd.read_csv(file, sep="\t")
    fl = pd.concat([fl, f])
coll["fl"]=[fl["s"].mean()]

In [246]:
rs=pd.DataFrame()
for file in glob.glob("stats/collapse/*read_support*.txt"):
    f = pd.read_csv(file, sep="\t")
    rs = pd.concat([rs, f])
coll["rs"]=[rs["s"].mean()]

In [250]:
collapse_time=pd.DataFrame(pd.to_datetime(coll.T[0], unit="s").dt.time)

In [251]:
collapse_time

                    0
c_pb  00:00:17.357000
c_t   00:17:23.363300
b2g   00:00:05.901700
g2g   00:00:09.794687
fl    00:00:12.423625
rs    00:00:11.069350

### Sqanti

In [97]:
pipeline_sq=pd.DataFrame()

In [98]:
pbg =pd.DataFrame()
for file in glob.glob("stats/sqanti/*gff2gtf*.txt"):
    f = pd.read_csv(file, sep="\t")
    pbg = pd.concat([pbg, f])
pipeline_sq["pb_gff2gtf"]=[pbg["s"].mean()]

In [99]:
pbsa =pd.DataFrame()
for file in glob.glob("stats/sqanti/*pb_augustus*.txt"):
    f = pd.read_csv(file, sep="\t")
    pbsa = pd.concat([pbsa, f])
pipeline_sq["sqanti_pb_augustus"]=pbsa["s"].mean()

In [100]:
pbsl =pd.DataFrame()
for file in glob.glob("stats/sqanti/*pb_liftoff*.txt"):
    f = pd.read_csv(file, sep="\t")
    pbsl = pd.concat([pbsl, f])
pipeline_sq["sqanti_pb_liftoff"]=pbsl["s"].mean()

In [101]:
tsa=pd.DataFrame()
for file in glob.glob("stats/sqanti/*tama_augustus*.txt"):
    f = pd.read_csv(file, sep="\t")
    tsa = pd.concat([tsa, f])
pipeline_sq["sqanti_tama_augustus"]=tsa["s"].mean()

In [102]:
tsl=pd.DataFrame()
for file in glob.glob("stats/sqanti/*tama_liftoff*.txt"):
    f = pd.read_csv(file, sep="\t")
    tsl = pd.concat([tsl, f])
pipeline_sq["sqanti_tama_liftoff"]=tsl["s"].mean()

In [233]:
pipeline_sq["pb_sum"]=pipeline_sq[["pb_gff2gtf","sqanti_pb_augustus","sqanti_pb_liftoff"]].T[0].sum()
pipeline_sq["tama_sum"]=pipeline_sq[["sqanti_tama_augustus","sqanti_tama_liftoff"]].T[0].sum()

In [234]:
pipeline_sq_time=pd.DataFrame(pd.to_datetime(pipeline_sq.T[0], unit="s").dt.time)

In [235]:
pipeline_sq_time

                                    0
pb_gff2gtf            00:00:05.726187
sqanti_pb_augustus    00:31:47.593200
sqanti_pb_liftoff     00:32:33.941600
sqanti_tama_augustus  00:33:53.637137
sqanti_tama_liftoff   00:32:59.574200
pb_sum                01:04:27.260987
tama_sum              01:06:53.211337

### pasa

In [105]:
pipeline_pasa=pd.DataFrame()

In [106]:
i2f=pd.DataFrame()
for file in glob.glob("stats/pasa/*iso2fasta*.txt"):
    f = pd.read_csv(file, sep="\t")
    i2f = pd.concat([i2f, f])
pipeline_pasa["iso2fasta"]=[i2f["s"].mean()]

In [107]:
clean=pd.DataFrame()
for file in glob.glob("stats/pasa/*seqclean*.txt"):
    f = pd.read_csv(file, sep="\t")
    clean = pd.concat([clean, f])
pipeline_pasa["seqclean"]=clean["s"].mean()

In [108]:
config_align=pd.DataFrame()
for file in glob.glob("stats/pasa/*config_align*.txt"):
    f = pd.read_csv(file, sep="\t")
    config_align = pd.concat([config_align, f])
pipeline_pasa["config_align"]=config_align["s"].mean()

In [109]:
params=pd.DataFrame()
for file in glob.glob("stats/pasa/*params*.txt"):
    f = pd.read_csv(file, sep="\t")
    params = pd.concat([params, f])
pipeline_pasa["set_params"]=params["s"].mean()

In [110]:
config_anno=pd.DataFrame()
for file in glob.glob("stats/pasa/*config_anno*.txt"):
    f = pd.read_csv(file, sep="\t")
    config_anno = pd.concat([config_anno, f])
pipeline_pasa["config_anno"]=config_anno["s"].mean()

In [111]:
aug_align=pd.DataFrame()
for file in glob.glob("stats/pasa/*augustus*alignment*.txt"):
    f = pd.read_csv(file, sep="\t")
    aug_align = pd.concat([aug_align, f])
pipeline_pasa["augustus_alignment"]=aug_align["s"].mean()

In [112]:
lif_align=pd.DataFrame()
for file in glob.glob("stats/pasa/*liftoff*alignment*.txt"):
    f = pd.read_csv(file, sep="\t")
    lif_align = pd.concat([lif_align, f])
pipeline_pasa["liftoff_alignment"]=lif_align["s"].mean()

In [113]:
aug_load=pd.DataFrame()
for file in glob.glob("stats/pasa/*augustus*load*.txt"):
    f = pd.read_csv(file, sep="\t")
    aug_load = pd.concat([aug_load, f])
pipeline_pasa["augustus_loadAnno"]=aug_load["s"].mean()

In [114]:
lif_load=pd.DataFrame()
for file in glob.glob("stats/pasa/*liftoff*load*.txt"):
    f = pd.read_csv(file, sep="\t")
    lif_load = pd.concat([lif_load, f])
pipeline_pasa["liftoff_loadAnno"]=lif_load["s"].mean()

In [115]:
aug_compare=pd.DataFrame()
for file in glob.glob("stats/pasa/*augustus*compare*.txt"):
    f = pd.read_csv(file, sep="\t")
    aug_compare = pd.concat([aug_compare, f])
pipeline_pasa["augustus_compareAnno"]=aug_compare["s"].mean()

In [116]:
lif_compare=pd.DataFrame()
for file in glob.glob("stats/pasa/*liftoff*compare*.txt"):
    f = pd.read_csv(file, sep="\t")
    lif_compare = pd.concat([lif_compare, f])
pipeline_pasa["liftoff_compareAnno"]=lif_compare["s"].mean()

In [117]:
pipeline_pasa.T

                                 0
iso2fasta                 8.151450
seqclean                 26.131150
config_align              8.287325
set_params                8.185519
config_anno               4.653644
augustus_alignment     4817.931012
liftoff_alignment      4585.033650
augustus_loadAnno       136.910663
liftoff_loadAnno        132.117700
augustus_compareAnno  24720.681862
liftoff_compareAnno   35358.314875

In [236]:
pipeline_pasa["prepare_sum"]=pipeline_pasa[["iso2fasta","seqclean","config_align","set_params","config_anno"]].T[0].sum()
pipeline_pasa["augustus_sum"]=pipeline_pasa[["augustus_alignment","augustus_loadAnno","augustus_compareAnno"]].T[0].sum()
pipeline_pasa["liftoff_sum"]=pipeline_pasa[["liftoff_alignment","liftoff_loadAnno","liftoff_compareAnno"]].T[0].sum()

In [237]:
pipeline_pasa_time=pd.DataFrame(pd.to_datetime(pipeline_pasa.T[0], unit="s").dt.time)

In [238]:
pipeline_pasa_time

                                    0
iso2fasta             00:00:08.151450
seqclean              00:00:26.131150
config_align          00:00:08.287325
set_params            00:00:08.185518
config_anno           00:00:04.653643
augustus_alignment    01:20:17.931012
liftoff_alignment     01:16:25.033650
augustus_loadAnno     00:02:16.910662
liftoff_loadAnno      00:02:12.117700
augustus_compareAnno  06:52:00.681862
liftoff_compareAnno   09:49:18.314875
augustus_sum          08:14:35.523537
liftoff_sum           11:07:55.466225
prepare_sum           00:00:55.409087

### Transdecoder

In [121]:
pipeline_tama_trans=pd.DataFrame()

In [122]:
tama_id=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*ID*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_id = pd.concat([tama_id, f])
pipeline_tama_trans["addID_tama"]=[tama_id["s"].mean()]

In [123]:
tama_g2f=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*tama*gtf2fasta*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_g2f = pd.concat([tama_g2f, f])
pipeline_tama_trans["gtf2fasta"]=tama_g2f["s"].mean()

In [124]:
tama_g2g=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*tama*gtf2gff*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_g2g = pd.concat([tama_g2g, f])
pipeline_tama_trans["gtf2gff"]=tama_g2g["s"].mean()

In [125]:
tama_long=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*tama*long*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_long = pd.concat([tama_long, f])
pipeline_tama_trans["longORF_tama"]=tama_long["s"].mean()

In [126]:
tama_predict=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*tama*predict*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_predict = pd.concat([tama_predict, f])
pipeline_tama_trans["predictORF_tama"]=tama_predict["s"].mean()

In [127]:
tama_anno=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*tama*anno*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_anno = pd.concat([tama_anno, f])
pipeline_tama_trans["anno_tama"]=tama_anno["s"].mean()

In [128]:
tama_clean=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*tama*clean*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_clean = pd.concat([tama_clean, f])
pipeline_tama_trans["clean_tama"]=tama_clean["s"].mean()

In [129]:
tama_sort=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*tama*sort*.txt"):
    f = pd.read_csv(file, sep="\t")
    tama_sort = pd.concat([tama_sort, f])
pipeline_tama_trans["sort_tama"]=tama_sort["s"].mean()

In [220]:
pipeline_tama_trans["sum"]=pipeline_tama_trans.T[0].sum()

In [221]:
pipeline_tama_trans_time=pd.DataFrame(pd.to_datetime(pipeline_tama_trans.T[0], unit="s").dt.time)

In [222]:
pipeline_tama_trans_time

                               0
addID_tama       00:00:13.997837
gtf2fasta        00:00:35.989512
gtf2gff          00:00:28.738412
longORF_tama     00:09:23.002937
predictORF_tama  00:28:02.396925
anno_tama        00:01:18.352600
clean_tama       00:00:01.994037
sort_tama        00:08:56.895837
sum              00:49:01.368100

PB

In [205]:
pipeline_pb_trans=pd.DataFrame()

In [206]:
pb_g2f=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*pb*gtf2fasta*.txt"):
    f = pd.read_csv(file, sep="\t")
    pb_g2f = pd.concat([pb_g2f, f])
pipeline_pb_trans["gtf2fasta"]=[pb_g2f["s"].mean()]

In [207]:
pb_g2g=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*pb*gtf2gff*.txt"):
    f = pd.read_csv(file, sep="\t")
    pb_g2g = pd.concat([pb_g2g, f])
pipeline_pb_trans["gtf2gff"]=pb_g2g["s"].mean()

In [208]:
pb_long=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*pb*long*.txt"):
    f = pd.read_csv(file, sep="\t")
    pb_long = pd.concat([pb_long, f])
pipeline_pb_trans["longORF_pb"]=pb_long["s"].mean()

In [209]:
pb_predict=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*pb*predict*.txt"):
    f = pd.read_csv(file, sep="\t")
    pb_predict = pd.concat([pb_predict, f])
pipeline_pb_trans["predictORF_pb"]=pb_predict["s"].mean()

In [210]:
pb_anno=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*pb*anno*.txt"):
    f = pd.read_csv(file, sep="\t")
    pb_anno = pd.concat([pb_anno, f])
pipeline_pb_trans["anno_pb"]=pb_anno["s"].mean()

In [211]:
pb_clean=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*pb*clean*.txt"):
    f = pd.read_csv(file, sep="\t")
    pb_clean = pd.concat([pb_clean, f])
pipeline_pb_trans["clean_pb"]=pb_clean["s"].mean()

In [212]:
pb_sort=pd.DataFrame()
for file in glob.glob("stats/transdecoder/*pb*sort*.txt"):
    f = pd.read_csv(file, sep="\t")
    pb_sort = pd.concat([pb_sort, f])
pipeline_pb_trans["sort_pb"]=pb_sort["s"].mean()

In [217]:
pipeline_pb_trans["sum"]=pipeline_pb_trans.T[0].sum()

In [218]:
pipeline_pb_trans_time=pd.DataFrame(pd.to_datetime(pipeline_pb_trans.T[0], unit="s").dt.time)

In [219]:
pipeline_pb_trans_time

                             0
gtf2fasta      00:00:54.696349
gtf2gff        00:00:47.707312
longORF_pb     00:14:22.421375
predictORF_pb  00:40:58.753249
anno_pb        00:02:36.906325
clean_pb       00:00:06.777137
sort_pb        00:30:28.171325
sum            01:30:15.433075